<% const d=new Date(); let year=d.getFullYear(); %>
  <footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <p><a href="/inv/servererror">Error Link</a></p>
    <ul>
      <li>account_firstname: Basic</li>
      <li>account_lastname: Client</li>
      <li>account_email: basic@340.edu</li>
      <li>account_password: I@mABas1cCl!3nt</li>
    </ul>
    <ul>
      <li>account_firstname: Happy</li>
      <li>account_lastname: Employee</li>
      <li>account_email: happy@340.edu</li>
      <li>account_password: I@mAnEmpl0y33</li>
    </ul>
    <ul>
      <li>account_firstname: Manager</li>
      <li>account_lastname: User</li>
      <li>account_email: manager@340.edu</li>
      <li>account_password: I@mAnAdm!n1strat0r</li>
    </ul>
  </footer>