@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Merriweather:wght@400;700&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --emphasis-color: #01B0D3;
  --emphasis-text: #0BBADB;
}


/******* Header ***************/
#top-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1.5rem 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.siteName {
  font-size: 2rem;
}

#tools a {
  font-size: .85rem;
}

#top-header a {
  text-decoration: none;
  color: black;
}

/******* Navigation ***************/
nav {
  font-family: 'Kumbh Sans', sans-serif;
}

nav ul {
  padding: 0px;
  margin: 0px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

nav ul li {
  padding: .5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover a {
  color: black;
}

nav ul li:hover {
  background-color: white;
}

/******* Index ***************/
main {
  font-family: 'Merriweather', serif;
  font-size: .9rem;
}

/* Hero */
section.hero-container {
  width: 100%;
  height: 10rem;
  background-image: url("/images/vehicles/delorean.jpg") !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 1;
}

section.hero-container .hero-text {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 2;
  padding: 0 1rem .25rem 0;
}

section.hero-container div h2 {
  margin: 0px;
  color: var(--emphasis-text);
  font-size: 1.2rem;
}

section.hero-container ul {
  list-style-type: none;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  color: var(--emphasis-text);
}

section.hero-container div .cta {
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--emphasis-color);
  color: black;
  padding: .25rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px, rgba(0, 0, 0, 0.4) 0px 0px 1px 0px;
}

/* Upgrades */
.upgrades-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: .5rem;
}

.upgrades-container h2 {
  grid-column: span 2;
}

.upgrades {
  margin-bottom: 1.5rem;
}

.upgrades>div {
  background-color: var(--emphasis-color);
  border: 1px solid black;
  height: 5rem;
}

.upgrades div img {
  display: block;
  margin: .2rem auto;
}

.upgrades a {
  display: block;
  text-align: center;
}

/* Reveiws */
.reviews-container ul li {
  padding: .5rem 0;
}

/****** Message ***********/
.notice li,
.error li {
  color: rgb(148, 0, 0);
}

/******* Footer ***************/
footer {
  font-family: 'Kumbh Sans', sans-serif;
}

footer p {
  margin: 1.5rem 0 0 0;
}

/******* Category Pages ***************/
ul#inv-display {
  grid-column: 1 / -1;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#inv-display li {
  width: 100%;
  max-width: 15rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

ul#inv-display li img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}

ul#inv-display li a {
  height: 0;
}

ul#inv-display li hr {
  border: none;
  height: 5px;
  background-color: #333;
  margin: 0;
}

.namePrice h2 {
  text-align: center;
}

.namePrice span {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/*********** Vehicle Page ************/
img#vehicle-image {
  width: 100%;
  height: auto;
}

#vehicle-details {
  width: 100%;
  height: auto;
}

#vehicle-details h3 {
  padding-left: .5rem;
}

#vehicle-details h4 {
  margin: 0;
}

#vehicle-details ul {
  list-style-type: none;
  padding: 0 0 0 .5rem;
}

#vehicle-details ul li {
  padding: 1rem;
}

#vehicle-details ul li:nth-child(odd) {
  background: #dedede;
}

#vehicle-details ul li span {
  font-weight: 700;
}

.splitGrid {
  display: block;
}

/********* Footer **********/
footer {
  margin-top: 1rem;
}

footer p {
  margin: 0;
}

.post-container {
  padding: 0 1rem 0 1rem;
}

.comments-display {
  /* width: 100%; */
  margin: 1rem 0 1rem 0;
  padding: 0 1rem 0 1rem;
  border: 3px solid var(--emphasis-color);
}

.comments-header {
  display: flex;
  justify-content: space-between;
}

#commentForm label {
  display: block;
}

textarea {
  display: block;
  width: 100%;
  height: 200px;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 3px solid var(--emphasis-color);
  background-color: aliceblue;
  resize: none;
}

/******* For Laptops and Larger ***************/
@media screen and (min-width: 700px) {
  body {
    background-image: url("/images/site/small_check.jpg");
    background-size: cover;
    background-position: center;
  }

  /* Background and Wrapper */
  #wrapper {
    max-width: 700px;
    margin: 1rem auto;
    padding: .5rem;
    border: 5px solid var(--emphasis-text);
    border-radius: .5rem;
    background-color: white;
  }

  /* Grid Layout */
  .splitGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .reviews-container {
    order: 2;
  }

  /* Hero Image Size */
  .hero-container {
    padding: 7rem;
    background-image: url("/images/vehicles/delorean.jpg");
  }

  section.hero-container .hero-text {
    left: 2rem;
    top: 0;
    height: 100%;
  }

  section.hero-container div h2 {
    font-size: 1.5rem;
  }

  section.hero-container ul {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  section.hero-container div .cta {
    font-size: 1rem;
    padding: .5rem 1.25rem;
  }
}

/****** FORM Styling ******************/
form {
  margin-bottom: 1rem;
}

form fieldset {
  width: 80%;
  margin: 0 auto;
  border: #01B0D3 solid 10px;
  border-radius: 1rem;
  background-color: azure;
}

form fieldset>* {
  display: block;
  width: 100%;
}

form fieldset input {
  margin-bottom: 1rem;
}

/* CSS */
form fieldset button, .submit {
  appearance: none;
  backface-visibility: hidden;
  background-color: #018dd3;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

form fieldset button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

form fieldset button:after {
  opacity: .5;
}

form fieldset button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

form fieldset button:active:after {
  opacity: 1;
}

input:required:invalid,
input:focus:invalid {
  background-color: rgb(234, 200, 195);
}

input:required:valid {
  background-color: rgb(197, 239, 197);

}

@media (min-width: 768px) {
  form fieldset button {
    padding: 7px 11px;
    min-width: 100px;
    max-width: 200px
  }
}

/******* Error Page ***************/
.error-content,
#error-poem {
  text-align: center;
}