<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

    <%- messages() %>

            <form action="/inv/add-classification" method="post" id="addClassificiationForm">
                <fieldset>
                    <p>All fields are required.</p>
                    <label for="classification_name">Classification Name</label>
                    <input type="text" name="classification_name" pattern="[A-Za-z]+" id="classification_name" required>
                    <p>Alphabetic Characters Only</p>

                    <button type="submit">Add</button>
                </fieldset>
            </form>